!image_output/.gitkeep
!movie_output/.gitkeep
!other_output/.gitkeep
!document_output/.gitkeep
image_output/
movie_output/
other_output/
document_output/
output/.category
../.DS_Store
.DS_Store
*.swp
